<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.senior_walker">

    <permission
        android:name="com.example.senior_walker.googlemap.locationapi.maps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8EvDc_8gu37KbNM7e3DJLyMvecyrwVtM" />

        <activity android:name=".SpecificProfile" />
        <activity android:name=".activity.DogMainActivity"/>
        <activity android:name=".activity.Dog_bottom3" />
        <activity android:name=".activity.Dog_bottom2" />
        <activity android:name=".activity.Dog_bottom1" />
        <activity android:name=".activity.Walker_bottom3" />
        <activity android:name=".activity.Walker_bottom2" />
        <activity android:name=".activity.Walker_bottom1" />
        <activity android:name=".activity.Member_information" />
        <activity android:name=".activity.WalkerMainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8EvDc_8gu37KbNM7e3DJLyMvecyrwVtM" />
    </application>

</manifest>